@charset "utf-8";
/* CSS Document */

h1, h2	{ font-family: 'Anton', sans-serif; }
h1.no-fontface, h2.no-fontface {font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;}
body	{ font-family: sans-serif; background: #f5eff5 }
pre	{font-family: 'Fira Mono', monospace; background: black; color:#0f0}
table, tr, td {border: 1px solid black;}
.head 	{ text-align: center; }